<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>不许复制</title>
    <style>
        body {
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            margin-top: 100px;
        }
    </style>
</html>
<body>
    <p>页面中将显示一个验证码，由很多 <code>IJl|1O0()i!</code> 字符构成。</p>
    <p>要想获得 Flag，请在 60 秒之内将验证码输入到文本框中然后提交。</p>
    <p>输入内容中的空格和回车将会被忽略，因此无需在意换行的位置。</p>
    <br>
    <p>敬请见证：<a href="/page1">Hard 难度</a> / <a href="/page2">Expert 难度</a></p>
</body>
</html>